@model Post
@{
	ViewBag.Title = "Unpublish Post";
}
<div class="col-sm-4 col-sm-offset-4">

	<h2>@ViewBag.Title</h2>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken();

		<div style="display: none">
			<input type="hidden" name="PostID" value="@Model.ID" />
		</div>
		<p>Are you sure you want to unpublish "@Model.CurrentVersion.Title"</p>
		<div class="form-group spread">
			<input type="submit" value="Unpublish post" class="btn btn-warning" />
		</div>
	}
	<p>A preview of the post would be great right here.</p>

	@Html.ActionLink("Back to Posts", "Blog", "BlogAdmin", new { BlogName = Model.Blog.UrlName })
</div>