@{
    HtmlString userNavigation = Html.DisplayUserNavigation();
    bool displayAsAdmin = !string.IsNullOrWhiteSpace(userNavigation.ToString());
    string userName = "";
    string caret = "";
    string logoutText = "Logout";
    string logoutAction = "javascript: document.getElementById('logoutForm').submit()";

    if (displayAsAdmin)
    {
        caret = "<span class='caret'></span>";
        logoutText = SceUser.Current.UserName;
        logoutAction = "#";
    }
    else
    {
        userName = SceUser.Current.UserName;
    }
}
@*<byu-header constrain-top-bar>
    <span slot="site-title"><a href='/'>@ViewBag.SiteName</a></span>
    <byu-user-info slot="user">
        @Html.ActionLink("Login", "LogOn", "Account", new { area = "" }, new { @slot = "login" })
        <a slot="logout" href="@logoutAction" id="admin-button">@logoutText @Html.Raw(caret)</a>
        @if (Request.IsAuthenticated)
        {
            <span slot="user-name">@userName</span>
        }
    </byu-user-info>
    <byu-menu slot="nav">
        @Html.DisplayNavigationMenu(0)
    </byu-menu>
</byu-header>*@

<div id="mainHeader" class="PRNheader">
    <div class="loginMenu">
        <a class="menuItem" href="#">Contact Us</a>
        <a class="menuItem" href="https://mft-prn.byu.edu">PRN Portal</a>
        @Html.ActionLink("Login", "LogOn", "Account", new { area = "" }, new { @slot = "login", @class = "menuItem" })
        <a class="menuItem" style="color:black" slot="logout" href="@logoutAction" id="admin-button">@logoutText @Html.Raw(caret)</a>
        @if (Request.IsAuthenticated)
        {
            <span class="menuItem" slot="user-name">@userName</span>
        }
    </div>
    <a href="/"><img class="headerImage" src="~/Content/Images/prnLogo.png" alt="PRN Logo" height="150"></a>
    <h1 class="headerTitle">Marriage and Family Therapy</h1>
    <p class="headerSubTitle">Practice Research Network</p>
</div>
<div class="navbar customNav" slot="nav">
    <ul style="color:#005b7b" class="customNav nav navbar-nav">

        <li class="nav-item">
            <a class="nav-link" href="/pages/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pages/researchers">Researchers</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pages/clinicians">Clinicians</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pages/events">Events</a>
            
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pages/assessments">Assessments</a>

        </li>
        <li class="nav-item">
            <a class="navbar-link-toggle" href="/blog">Blog</a>
        </li>
    </ul>
</div>

@if (!Request.IsAjaxRequest())
{

    @* Using Popper.js, this becomes the dropdown for the Admin button. *@
    <ul id="admin-menu" class="customDropdown dropdown-menu">
        @userNavigation
    </ul>

    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", style = "display: none" }))
    {
        @Html.AntiForgeryToken()
    }
}