@model Byu.Fhss.Sce.PageManagement.ScePage
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_homeLayout.cshtml";
}
<div class="fullSceBox">

    @Html.DisplaySceContent(Model, 0, "")

</div>
@Html.DisplaySceContent(Model, 1, "")

@Html.DisplaySceContent(Model, 2, "")

@Html.DisplaySceContent(Model, 3, "")

@section scripts {
    @Html.Raw(Model.GetPageScripts())
}
@section styles {
    @Html.Raw(Model.GetPageStyles())
}